body{
    background-color: darkgray;
}



.afc-teams {
    float: left;
    margin-left: 30px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 15px;
    color: red;
}

.nfc-teams{

    float:right;
    margin-right: 30px;   
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 15px;
    color: blue;
}

.main-title{

    margin:auto;
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif
    font-size: 30px;
    color: black;
}

