body {
    background-color: darkgray;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

/* I feel like we talked about this but not sure. Is it a good practice to make define so broad a class with the body attribute? I feel like you would want the page to be consistent but any changes outside of the "standard" text would need to be declared in a class now. I'll keep it this way but this is a note for when we speak next.*/

.afc-teams {
    float: left;
    margin-left: 30px;
    font-size: 15px;
    color: red;
}

.nfc-teams {
    float: right;
    margin-right: 30px;
    font-size: 15px;
    color: blue;
}

.main-title {
    margin: auto;
    text-align: center;
    font-size: 30px;
    color: black;
}

.my-style {
    color: purple;
    size: 50px;
    font-family: fantasy;
}

.afc-table {
  border: 5px;
  text-align: center;
  vertical-align: middle;
}

.main-content {
  text-align: left;
  font-size: 20px;
  text-transform: capitalize;
}

.moar-title {
  text-align: center;
  text-transform: uppercase;
}

time {
  color: green;
  font-style: oblique;
}
